//FONTS
$default-font-size: 2rem;

//COLOR
$color-black: black;
$color-white: white;

$color-blue: #24385d;

$color-grey-light-1: #ffffff;
$color-grey-light-2:#e7e7e7;

$button-color-1: rgb(245, 166, 35);
$button-color-2: $color-blue;