.footer {
    display: flex;
    background-color: $color-blue;
    padding-top: 3rem;
    padding-bottom: 3rem;

    &__copyright {
        margin-right: auto;
        display: flex;
        flex-direction: column;

        &__text {
            color: $color-grey-light-1;
        }
    }

    &__icon {
        fill: $color-grey-light-1;
        width: 3rem;
        height: 3rem;

        &:not(:last-child) {
            margin-right: 3rem;
        }
    }
}