.introduction {
    background-color: $color-grey-light-2;
    height: 55rem;

    display: grid;
    grid-template-columns: 1fr 50rem;
    align-items: start;
    grid-column-gap: 8rem;
    overflow: visible;

    &__text-box {
        padding-top: 7rem;
    }

    &__header {
        margin-bottom: 5rem;
    }

    &__text {
        line-height: 2;
        font-weight: 600;
    }

    &__img {
        position: relative;
        align-self: start;
        background-color: white;
        padding: 0;
        z-index: 50;

        img {
            box-shadow: 1rem 2rem 2rem rgba($color-black, $alpha: .15);
            position: absolute;
            top: -5rem;
            left: 0;
            width: 100%;
        }
    }
}
//clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
