.nav {
    background-color: $color-grey-light-1;
    border-bottom: 2px solid $color-grey-light-2;
    display:flex;
    padding-top: 2rem;
    padding-bottom: 1rem;
    align-items: baseline;

    &__logo {
        margin-right: auto;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 4rem;
        }
    }

    &__btn--1 {
        background-color: $color-blue;
        margin-right: 2rem;
    }

    a,
    a:visited,
    a:active {
        text-decoration: none;
        color: currentColor;
    }
}