h2 {
    font-family: Walsheim-Bold;
    font-size: 4.5rem;
    font-weight: 900;
    line-height: 7rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-family: Walsheim-Light;
    font-size: $default-font-size;
    padding: 0;
    line-height: 2.5rem;
}
