.btn,
.btn::after,
.btn::before {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 3rem;
    border-radius: 5px;
    color: white;
    box-shadow: none;
    border-width: 0;
    background-color: $button-color-1;
    transition: all .1s;
}

.btn:hover {
    cursor: pointer;
    color: $color-grey-light-1;
    filter: brightness(120%);
}